/*
  The loading pacifier...
*/
body {
  font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
}

#root {
  overflow:hidden;
}

#bdLoading {
  margin:0;
  padding:5em 0 0 0;
}

#bdLoadingFrame {
  margin:auto;
  width:500px;
  text-align:center;
  overflow:hidden;
  position:relative;
  border: 1px solid blue;
  background-color: #eeeeee;
}

#bdLoading h1 {
  font-size:300%;
  font-weight:bold;
  color:#7eabcd;
}

#bdLoading .copy {
  margin:1em;
  margin-top:60px;
  line-height:1.2em;
}

#runnerOuter {
  position:relative; 
  height:15px; 
}

#runnerFrame {
  position:absolute;
  height:100%; 
  left:50px;
  right:50px;
  border:1px solid blue;
  background-color:white;
  overflow:hidden;
}

#runner {
  position:relative;
  background-image:url(images/running.gif);
  background-repeat:repeat-y;
  height:100%;
  width:100px;
  left:-100px;
}
